.error {
    @include flex-column;
    gap : 40px;
    margin:7%;
  
    
    .error_404 {
      @include flex-center;
      margin: $no-margin;
      color: $text-theme-color;
      font: {
        family: $font-family-primary;
        weight: $font-weight-secondary;
        size: 288px;
      }
    }

  .error_msg {
    @include flex-center;
    margin-bottom: 6%;
    color: $text-theme-color;
    font: {
      family: $font-family-primary;
      weight: $font-weight-primary;
      size: $font-size-1;
    }
  }
    .back_msg{ // texte d'erreur
      @include flex-center;
      margin-bottom: 6%;
      color: $text-theme-color;
      font: {
        family: $font-family-primary;
        weight: $font-weight-primary;
        size: $font-size-1;
      } 
    }
  
    
    .back_home {
      @include flex-center;
      color: $text-black;
      font: {
        family: $font-family-primary;
        weight: $font-weight-primary;
        size: $font-size-3;
      }
      
  
      &:hover {
        text-decoration: underline;
        color: $text-theme-color;
      }
    }



    // Version mobile
    @media screen and (max-width: 768px) {
      min-height: 425px;
      .error_404 {
        margin-top: 20px;
        font: {
          weight: $font-weight-secondary;
          size: 96px;
        }      
      }
      .error_msg {
        width: 260px;
        font-size: $font-size-3;
      }
      .back_msg{
        width: 260px;
        font-size: $font-size-3;
      }
      .back_home {
        font-size: $font-size-4;
        margin-bottom: 20px;
      }
    }
  }
  