//couleurs
$primary-background: #FF6060; 
$footer-background: #000000;
$text-theme-color : #FF6060; 
$text-white : #FFFFFF;
$text-black : #000000;

//Typographie
$font-family-primary: Montserrat, sans-serif;
$font-weight-primary: 500;
$font-weight-secondary: 700;
$font-weight-tertiary: 400;

//bordures
$border-small : 5px;
$border-medium : 10px;
$border-large : 25px;

//Tailles texte
$font-size-1: 36px;
$font-size-2: 24px;
$font-size-3: 18px;
$font-size-4: 14px;

//ombres 
$dark-shadow : 0px 4px 4px 0px #00000040;



//margins et paddings
$no-margin : 0px;
$no-padding : 0px;

//alignement
$align-center : center;
