.banner {
    height: 223px;
    position: relative; 
    box-shadow: $dark-shadow;
    border-radius: $border-large;
    margin: {
      right: 7%;
      left: 7%;
      bottom: 35px;
    }
   
   
    &_img {  // image de la bannière
      @include full-width;
      object-fit: cover;
      box-sizing: border-box;
      border-radius: $border-large;
    }
  
    
    &_txt {
      display: flex; justify-content: center;
      width: 100%;
      position: absolute;
      top: 37%; left: 48%;
      transform: translate(-50%, -50%);
      column-gap: 10px;
      text-shadow: 0 4px 4px rgba(0, 0, 0, .25), 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, 0px 4px 4px rgba(0, 0, 0, .25); // effet d'ombre douce sous le texte
      color: $text-white;
      font: {
        size: clamp(42px, 1vw, 48px);
        family: $font-family-primary;
        weight: $font-weight-secondary;
      }
      margin: {
        right: 30px;
        left: 30px;
      }
    }

    
    &_dark { // Sombre de la bannière
      @include full-width;
      position: absolute;
      transform: translate(0%, -102%);
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: $border-large;
    }


    
    // Version mobile
    @media screen and (max-width: 768px) {
      border-radius: $border-medium;
      height: 111px; 
      margin: {
        right: 5%; 
        left: 5%;
        bottom: 0px; 
      }

      &_img {
        border-radius: $border-medium;
      }
      
      &_txt {
        flex-direction: column;
        font-size: clamp(20px, 1vw, 24px);
        text-shadow: none;
      } 

      &_dark {
        border-radius: $border-medium;
        transform: translate(0%, -103%);
      } 
    }
} 




